<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crack Detection and Recommendations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Crack Detection Application</h1>
        
        <!-- Navigation Links -->
        <div class="nav">
            <a href="/" class="navlink">Upload Image for Detection</a> |
            <a href="/webcam" class="navlink">Real-Time Detection</a>
        </div>

        <!-- Image Upload Form -->
        <h2 class="crackheading">Upload an Image for Crack Detection</h2>
        <form action="/" method="post" enctype="multipart/form-data" class="uploadform">
            <input type="file" name="file" accept="image/*" required>
            <label for="object_type">Select Object Type:</label>
            <select name="object_type" required class="styled-select">
                <option value="wall">Wall</option>
                <option value="water tank">Water Tank</option>
                <option value="chemical tank">Chemical Tank</option>
            </select>
            <button type="submit" class="upload-btn">Upload</button>
        </form>

        <!-- Display Results if Uploaded -->
        {% if uploaded %}
            <h3 class="crackheading">Crack Analysis Result</h3>
            <p>Crack Length: {{ crack_length }} ({{ recommendations['severity'] }})</p>
            <img src="{{ url_for('processed_file', filename=crack_image_path) }}" alt="Detected Crack Image">

            <div class="recommendationdiv">
                <h3>Recommendations:</h3>
                <div class="repairdisplay">
                    <h4 class="repair">Repair Suggestions:</h4>
                    <ul class="recomm-text">
                        {% if recommendations['repair'] | length > 0 %}
                            {% for repair in recommendations['repair'] %}
                                <li>{{ repair }}</li>
                            {% endfor %}
                        {% else %}
                            <li>No specific repair recommendations available.</li>
                        {% endif %}
                    </ul>
                </div>
                <div class="repairdisplay">
                    <h4 class="repair">Potential Leakage Risks:</h4>
                    <ul class="recomm-text">
                        {% if recommendations['leakage_risks'] | length > 0 %}
                            {% for risk in recommendations['leakage_risks'] %}
                                <li>{{ risk }}</li>
                            {% endfor %}
                        {% else %}
                            <li>No potential leakage risks identified.</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
</body>
</html>
